fastapi==0.115.12
uvicorn[standard]==0.34.2
SQLAlchemy==2.0.40
psycopg2-binary==2.9.12
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.4.0
python-dotenv==1.1.0
python-multipart==0.0.20
pydantic==2.12.4
openpyxl==3.1.5
pandas>=1.2
seaborn==0.13.2
bcrypt==3.2.2
python-jose[cryptography]
python-dotenv
python-multipart
openpyxl
fastapi[standard]==0.115.12
